<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<body>

  <div class="row">
    <div class="col-md-3"></div>
    
    <div class="col-md-6">
    <h1  align="center"> <b>C&G Coatings </b></h1>
    
    <h2 align="center"> Curt Carpenter</h2>

    <br>
    <br>
       
    <div class="cont">
    <ul>
           <b><u>Contact information </u></b><br>
            <ul>
            Cell : 913-634-2588 <br>
            Email : curt.carpenter0@gmail.com
            </ul>
            <b><u>Address</u></b><br>
            8195 Quivira #3307  <br>
            Lenexa, KS 66215
       
    </ul> 
    
    </div>
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
</body>



<style>

    .cont{
      font-size: 20px;
      text-align: center;
      
    }
    
    body{
       
        background-size: 100%;
        background-color: aqua;
        
    }
    </style>

