<link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>

<body>

  <div class="row">
    <div class="col-md-3"></div>
    
    <div class="col-md-6">
    <h1  align="center"> <b>C&G Coatings </b></h1>
    
    <h2 align="center"> Curt Carpenter</h2>

    <br>
    <br>
       
    <div class="cont">
    <ul>
           <b><u>Contact information </u></b><br>
            <ul>
            Cell : 913-634-2588 <br>
            Email : curt.carpenter0@gmail.com
            </ul>
            <b><u>Address</u></b><br>
            8195 Quivira #3307  <br>
            Lenexa, KS 66215
       
    </ul> 
    
    </div>
    <br>
    <br>
    <br>
    <form action="contact" method="POST">
            <div class="form-group">
                    <h2 class="text-center"><ul><u>submit your questions/response here</u></ul></h2>
                   
                            <label for="fullname">First name</label>
                            <input type="text" name="firstname" class="form-control" id="fullname" placeholder="Enter your first name">
                        <br>

                            <label for="lastname">Last name</label>
                            <input type="text" name="lastname" class="form-control" id="formGroupExampleInput2" placeholder="Enter your last name">
                         <br>
              <label for="email">Email address</label>
              <input type="email" class="form-control" name="email" id="exampleFormControlInput1" placeholder="name@example.com">
            <br>
              <label for="description">Enter your description</label>
              <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="3"></textarea>
              <br>
              <button type="submit" name="submit" class="btn btn-primary">Submit</button>
            </div>


          </form>

        
    </div>
    
    </div>
    
    <div class="col-md-3"></div>
    
    </div>
</body>



<style>

    .cont{
      font-size: 20px;
      text-align: center;
      
    }
    
    body{
       
        background-size: 100%;
        background-color: aqua;
        
    }
    </style>

