<% include header%>

<div class="row">
<div class="col-md-3"></div>

<div class="col-md-6">
<h1 align="center"> <b>Curt Carpenter </b></h1>

<h2 align="center">C&G Coatings</h2>

<h3><b>Contact Info</b></h3>

<div id="cont">
<ul>
    <li>Find about us on <a href="https://www.coatingsplusstore.com/">https://www.coatingsplusstore.com/</a></li>
    <li>Ping us on <a href="https://www.facebook.com/CG-Coatings-104818302930011/">https://www.facebook.com/CG-Coatings-104818302930011/</a></li>
    <li><b>Contact information:</b>
        <ul>
        <li><u>Phone number</u> : 913-634-2588</li>
        <li><u>Email</u> : cgcoatings@kcnet.com</li>
        </ul>
    </li>
    <li><b>Address: </b><br>
        4828 W 157th Street <br>
        Overland Park, KS 66224
    </li>
</ul> 

</div>

</div>

<div class="col-md-3"></div>

</div>

<% include footer%>

<style>
#cont{
  font-size: 15px;
}

body{
    background-image: url("coat.jpg");
    background-size: 100%;
}
</style>