<% include header%>

<h1> Curt Carpenter </h1>

<h2>C&G Coatings</h2>

<h3>Contact Info</h3>


<ul>
    <li>Find about us on <a href="https://www.coatingsplusstore.com/">https://www.coatingsplusstore.com/</a></li>
    <li>Ping us on <a href="https://www.facebook.com/CG-Coatings-104818302930011/">https://www.facebook.com/CG-Coatings-104818302930011/</a></li>
    <li>Contact information:
        <ul>
        <li>Phone number: 913-634-2588 - cell</li>
        <li>cgcoatings@kcnet.com - email</li>
        </ul>
    </li>
    <li>Address: <br>
        4828 W 157th Street <br>
        Overland Park, KS 66224
    </li>
</ul>  

<% include footer%>