</br>
</br>
<hr>
</br>
<footer class="fluid">
  <div class="footer">
    <span>
        <p>&copy; 2018</p>
        <p class="text-muted"><a href="https://github.com/mwoolery/CostEstimator">Repository</a></p>
    </span>
    
  </div>
</footer>