

<div class="footer">
        <p>&copy; 2018</p>
        <p class="text-muted"><a href="https://github.com/santoshsekhar/CostEstimatorExpress">Repository</a></p>
</div>

    <style>
.footer {
        
                
        background-color: black;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
      }

      .page-content{
              padding-bottom: 80px;
      }
</style>
    