
<body>

    <div>
        <h1 style="text-align: center" >C & G Coatings</h1>
        <br>
        <img src="images/logo.jpg" alt="Italian Trulli"  style="  display: block; margin-left: auto;
         margin-right: auto;" width="1100" height="500">
       
    </div>

</body>
