    
    <html>
    <head>
        <% include header.ejs %>
    </head>
    
    <body>
       <div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
          

        <h1 class ="head">Coatings Estimator</h1>
        <br/>
        <h2>Use this area to display information. </h2>
        <br/>
        
        <h3>During development, test your api here.</h3>
        <br/>
        <br/>
        
      </div>
     
    </div>
  </div>
 
</body>
<% include footer.ejs %>


</html>
