<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <a href="../coating/select" class="btn btn-success new">
        Copy from existing estimate
      </a>
      
      <% include partial_edit.ejs %>

      
        </div>
    </div>
  </div>
</div>