
<head>
    <% include ../header.ejs %> 
  
  </head>
  
  <div class="container-fluid page-content">
      <div class=row>
        <div class="col col-md-12">
          
          <br/>
          <h2>Details of the estimate</h2>
          <br/>
        </div>
      </div>
  </div>
          