

<html>

<head>
  <% include ../header.ejs %> 
</head>

<body>
  
  
  <br/>
<br/>
<div class="container-fluid  page-content">
  <div class=row>
    <div class="col col-md-12">
      <a href="coating/create" class="btn btn-primary new">
        Create a new estimate
      </a>
      <h2>Recent estimate entries</h2>
      <p>There are
       
          <br/>

      </p>



    
     
      
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            
              <br> Name:
              
                <br/> location:
               
                  <br/> squareFeet (years):
                  
                   <br>
                   <br>

                  
                          <a href="" class="btn btn-danger"> Delete </a>
                          <a href="" class="btn btn-info"> Details </a>
                          <a href="" class="btn btn-warning"> Edit </a>
          </div>
        </div>
      

    </div>
  </div>
</div>
<footer>
  <% include ../footer.ejs %>
</footer>
