

<html>

<head>
  <% include ../partials/header %> 
</head>

<body>
  
  
  <br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="coating/create" class="btn btn-primary new">
        Create a new estimate
      </a>
      <h2>Recent estimate entries</h2>
      <p>There are
       
          <br/>

      </p>

     </div>
     </div>
     </div>


     </body>
     </html>